<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProxyScraper - Theyka</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css" rel="stylesheet" />
<style>

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7b00ff;
    background-image: radial-gradient(at right center, rgb(56, 189, 248), rgb(49, 46, 129));
}

.relative {
  margin: 40px;
}

table {
  margin: 0 auto;
  width: 80%;
}

</style>
</head>

<body>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-400">
        <caption class="p-5 text-lg font-semibold text-lefttext-white bg-gray-800">
            Free Proxy List (Updates every 10 minutes)
            <p class="mt-1 text-sm font-normal text-gray-400">A proxy server is an intermediary between your computer and the internet. It acts as a gateway, allowing you to access websites and online services while hiding your true IP address from the rest of the world. This can be useful for a number of reasons, such as ensuring your online activities remain private and secure or bypassing restrictions that might be in place on certain websites or services. Proxy servers can be set up to work in a number of different ways, from forwarding all traffic to a specific server to providing additional layers of security or filtering capabilities. They are commonly used by businesses, individuals, and organizations for a variety of different purposes.</p>
        </caption>
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 hover:text-white">
                    <a href="{{url_for('scrape')}}?type=anon&download">Anonymous (Click to Download List)</a>
                </th>
                <th scope="col" class="px-6 py-3 hover:text-white">
                    <a href="{{url_for('scrape')}}?type=ssl&download">SSL (Click to Download List)</a>
                </th>
                <th scope="col" class="px-6 py-3 hover:text-white">
                    <a href="{{url_for('scrape')}}?type=uk&download">UK (Click to Download List)</a>
                </th>
                <th scope="col" class="px-6 py-3 hover:text-white">
                    <a href="{{url_for('scrape')}}?type=us&download">US (Click to Download List)</a>
                </th>
                <th scope="col" class="px-6 py-3 hover:text-white">
                    <a href="{{url_for('scrape')}}?type=latest&download">Latest (Click to Download List)</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% set anon_length = anon_proxy|length %}
            {% set ssl_length = ssl_proxy|length %}
            {% set uk_length = uk_proxy|length %}
            {% set us_length = us_proxy|length %}
            {% set latest_length = latest_proxy|length %}
            {% set maximum = [anon_length, ssl_length, uk_length, us_length, latest_length]|max %}
            {% for i in range(maximum) %}
            <tr class="border-b bg-gray-800 border-gray-700">
                <td class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    {% if i < anon_length %}{{ anon_proxy[i] }}{% endif %}
                </td>
                <td class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    {% if i < ssl_length %}{{ ssl_proxy[i] }}{% endif %}
                </td>
                <td class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    {% if i < uk_length %}{{ uk_proxy[i] }}{% endif %}
                </td>
                <td class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    {% if i < us_length %}{{ us_proxy[i] }}{% endif %}
                </td>
                <td class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    {% if i < latest_length %}{{ latest_proxy[i] }}{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<footer class="bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="https://theyka.net/" class="flex items-center">
                  <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Theyka</span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase text-white">Follow me</h2>
                  <ul class="text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://github.com/Theyka" class="hover:underline ">Github</a>
                      </li>
                      <li>
                          <a href="https://discord.rasbyte.net" class="hover:underline">Discord</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm  sm:text-center text-gray-400">© 2023 <a href="https://theyka.net/" class="hover:underline">Theyka.net</a>. All Rights Reserved. (even god doesn't know where)
          </span>
          <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
              <a href="https://github.com/Theyka" class="text-gray-500 hover:text-white">
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" /></svg>
                  <span class="sr-only">GitHub account</span>
              </a>
          </div>
      </div>
    </div>
</footer>




<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
</body>
</html>


